@{
  Layout = "_Layout";
}

@model Savory.Models.Treat

<h2>Are you sure you want to Delete this?</h2>

@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Treats", "Index")