@{
  Layout = "_Layout";
}

@using Savory.Models;
@model IEnumerable<Savory.Models.Baker>

<h1>@User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Baker baker in Model)
    {
      <li>@Html.ActionLink($"{baker.Name}", "Details", new { id = baker.BakerId })</li>
    }
  </ul>
} 
else
{
  <h3>No bakers have been added yet!</h3>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>