@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Savory Treats</h1>

<p>@Html.ActionLink("Type of Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Type of Treats", "Index", "Treats")</p>

<p>@Html.ActionLink("Create an Account", "Index", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>